{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div>
    test content
    </div>
    <div>
        {% for item in model.blogs %}

            <span>{{item}}</span>

        {% endfor %}
    </div>
</div>
{% endblock %}