{% extends 'layout.html' %}
{% block content %}



<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Noronha Online!</h1>
        <p class="lead">The online professional dwelling of Arun Noronha</p>
    </div>
</div>

{% endblock %}